body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #92a89c;
}

.dropdown, .modal {
  display: none;
}

a.button {
  text-decoration: none;
}

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;

  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover, .button:focus {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover, .site-navigation a:focus {
  text-decoration: none;
  color: #323232;

  background-color: #ffffff;
}

.site-navigation a:active {
  text-decoration: none;
  color: #323232;

  background-color: #ffffff;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-current {
  background-color: #d07058;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.user-navigation a {
  text-decoration: none;
  color: #ffffff;

  background-color: #9db1a5;
}

.user-navigation .cart-filled {
  color: #323232;

  background-color: #ffffff;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  list-style: none;
  color: #ffffff;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover, .breadcrumbs a:focus, .breadcrumbs a:active {
  color: #ffbc9e;
}

.header-contacts {
  text-align: right;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.header-contacts a:hover {
  text-decoration: underline;
  color: #ffbc9e;
}

.features {
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #ece0c6;
  background-image: url("../img/background-pattern-waffle.jpg");

  list-style: none;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

.ice-cream-serve {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/background-article.jpg");
  background-repeat: no-repeat;
}

.ice-cream-serve a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.ice-cream-serve a:hover, .ice-cream-serve a:focus, .ice-cream-serve a:active {
  color: #e84d37;
}

.ice-cream-serve p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.subscribe {
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #f8f7f4;
}

.subscribe input {
  font-size: 16px;
  line-height: 24px;
  color: 999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

h1.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog-list {
  list-style: none;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .item-measure {
  font-size: 30px;
}

.footer-social{
  list-style: none;
}

.footer-navigation-list {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.footer-navigation-list a {
  color: #ffffff;
}

.footer-navigation-list a:hover, .footer-navigation-list a:focus, .footer-navigation-list a:active {
  color: #ffbc9e;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: #ffffff;
}

.footer-copyright a:hover, .footer-copyright a:focus, .footer-copyright a:active {
  color: #ffbc9e;
}
